<footer class="site-footer footer-dark bg-no-repeat bg-full-height bg-center "  style="background-image:url(assets/footer-bg.jpg);">
            <!-- FOOTER BLOCKES START -->  
            <div class="footer-top overlay-wraper">
                <div class="overlay-main bg-black opacity-05"></div>
                <div class="container">
                    <div class="row">
                        <!-- ABOUT COMPANY -->
                        <div class="col-md-4 col-sm-6">  
                            <div class="widget widget_about">
                                <h4 class="widget-title text-white">About Company</h4>
                             <!--   <div class="logo-footer clearfix p-b15">
                                    <a href="index.html"><img src="dhb-banner-3.png" width="230" height="67" alt=""/></a>
                                </div> -->
                                <p>DIAMOND HUB PLUS (DHP) is an online registered investment platform managed by a team of experienced and competent professionals in the finance and investment industry within and outside the country.
                               
                                </p>
                                
                                <p> Our major aim is to give returns to money invest by the members to earn them total financial liberation. </p>
                            </div>
                        </div> 
                        <!-- RESENT POST -->
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="widget widget_services">
                                <h4 class="widget-title text-white">Useful links</h4>
                                <ul>
                                   <li><a href="about.php">About</a></li>
                                    <li><a href="faq.php">FAQ</a></li>
                                    <li><a href="terms.php">Terms and Condition</a></li>
                                    <li><a href="Faq.php">FAQ</a></li>
                                    <li><a href="contact.php">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- NEWSLETTER -->
                        <div class="col-md-4 col-sm-6">
                            <div class="widget widget_newsletter">
                                <h4 class="widget-title text-white">Newsletter</h4>
                                <div class="newsletter-bx">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                        <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                                        <span class="input-group-btn">
                                            <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                        </span>
                                    </div>
                                     </form>
                                </div>
                            </div>
                            <!-- SOCIAL LINKS -->
                            <div class="widget widget_social_inks">
                                <h4 class="widget-title text-white">Social Links</h4>
                                 <ul class="social-icons social-square social-darkest">
                                    <li><a href="https://www.facebook.com/diamondhubplus/" target=_blank class="fa fa-facebook"></a></li>
                                    <li><a href="http://www.twitter.com/PlusNeu" target=_blank class="fa fa-twitter"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                 
                                    <li><a href="https://www.youtube.com/channel/UCJVs6083HwgXmo6qlQ69HDQ" target=_blank class="fa fa-youtube"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    
                       <div class="col-md-4 col-sm-6  p-tb20">
                           <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                <div class="icon-md text-primary">
                                    <span class="iconmoon-travel"></span>
                                </div>
                                <div class="icon-content text-white">
                                    <h5 class="wt-tilte text-uppercase m-b0">Address</h5>
                                    <p>Suite 12, Dominion Favour Plaza,beside Dominion Filling Station,Agbede Road, Asolo Bustop Agric, Ikorodu, Lagos</p>
                                    
                                    
                                </div>
                           </div>
                        </div>
                       <div class="col-md-4 col-sm-6  p-tb20 ">
                           <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                                <div class="icon-md text-primary">
                                    <span class="iconmoon-smartphone-1"></span>
                                </div>
                                <div class="icon-content text-white">
                                    <h5 class="wt-tilte text-uppercase m-b0">Phone</h5>
                                    <p class="m-b0"> +2348140245298</p>
                                    <p> +2348140245298</p>
                                </div>
                           </div>
                       </div>
                      
                       <div class="col-md-4 col-sm-6 p-tb20">
                           <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                <div class="icon-md text-primary">
                                    <span class="iconmoon-email"></span>
                                </div>
                                <div class="icon-content text-white">
                                    <h5 class="wt-tilte text-uppercase m-b0">Email</h5>
                                    <p class="m-b0">info@diamondhubplus.com</p>
                                    <p>support@diamondhubplus.com</p>
                                </div>
                            </div>
                        </div>

                  </div>
                </div>
            </div>
            <!-- FOOTER COPYRIGHT -->
            <div class="footer-bottom  overlay-wraper">
                <div class="overlay-main"></div>
                <div class="constrot-strip"></div>
                <div class="container p-t30">
                    <div class="row">
                        <div class="wt-footer-bot-left">
                            <span class="copyrights-text">© 2019 Neu Diamondhub plus. All Rights Reserved.</span>
                        </div>
                        <div class="wt-footer-bot-right">
                            <ul class="copyrights-nav pull-right"> 
                                <li><a href="javascript:void(0);">Terms  & Condition</a></li>
                                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                                <li><a href="contact-1.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->         
        
        <!-- BUTTON TOP START -->
        <button class="scroltop"><span class=" iconmoon-house relative" id="btn-vibrate"></span>Top</button>
