 <div class="page-content">
            
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper" style="background-image:url(<%= "assets/invest.jpg"%>)">
                <div class="overlay-main bg-black opacity-07"></div>
               
            </div>
            <!-- INNER PAGE BANNER END --> 
                
            <!-- BREADCRUMB ROW -->                            
            <div class="bg-gray-light p-tb20">
                <div class="container">
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
            <!-- BREADCRUMB  ROW END --> 
            
            <!-- ABOUT COMPANY SECTION START -->
            <div class="section-full p-tb100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="section-head text-left">
                                
                                <h2 class="text-uppercase">About Us </h2>
                                <div class="wt-separator-outer"><div class="wt-separator bg-primary"></div></div>
                                <p>DIAMOND HUB PLUS (DHP) is an online registered investment platform managed by a team of experienced and competent professionals in the finance and investment industry within and outside the country. Our major aim is to give returns to money invest by the members to earn them total financial liberation.

</p>
                                <p>
                               This investment platform has been in existence and business since 2017, we are growing stronger and bigger on daily basis because it is founded with patriotic and sincere minds.


                                </p>
                                
                                <p>In DHP there is security of investment and assurance of paying members promptly as at when due, irrespective of the package they invest into. Every fund that comes into the business is re-invested into productive business ventures which makes us different from any other online business or platform you might have experienced before or heard about.</p>
                                
                                
                                    <p>Also, the management team of DHP are unique in the sense that they are visible, accessible and easily contacted for conversation on any matter relating to their business for clarification.</p>
                                    
                                    
                                                                        <p>The founder’s primary aim is to eliminate poverty and ensure ultimate financial freedom to raise the standard of living of the common people in our society. In pursuant of this agenda, referral’s commission was introduced to keep members up and doing until everyone is touched and financially independent</p>
                                
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="wt-media">

                                  <%= image_tag "screen.png",class: "img-responsive" %>

                           
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <!-- ABOUT COMPANY SECTION END --> 
                 
           
           
            
            <!-- OUR TEAM MEMBER SECTION START -->
         
            <!-- OUR TEAM MEMBER SECTION END -->
                    
        </div>
        <!-- CONTENT END -->
        