 <div class="page-content" >
        
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper" style="background-image:url(<%= "assets/invest.jpg"%>)">
            	<div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry" >
                     <br>   <br> <br>   <h1 class="text-white">Frequently Asked Questions</h1>
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->
            
            <!-- BREADCRUMB ROW -->                            
            <div class="bg-gray-light p-tb20">
            	<div class="container">
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
                        <li>Frequently Asked Questions </li>
                    </ul>
                </div>
            </div>
            <!-- BREADCRUMB ROW END -->                   
            
            <!-- SECTION CONTENT -->
            <div class="section-full p-t80 p-b50">
            	<div class="container">
                   <div class="row">
                        <div class="col-md-9">
                            <!-- TITLE  START -->
                            <div class="p-b30">
                                <h2 class="text-uppercase">FAQ</h2>
                                <div class="wt-separator-outer">
                                   <div class="wt-separator bg-primary"></div>
                                </div>
                            </div>
                            <!-- TITLE START -->
                            
                            <!-- ACCORDION START -->
                            <div class="wt-accordion acc-bg-gray" id="accordion5">
                            
                                <div class="panel wt-panel">
                                    <div class="acod-head acc-actives">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5" >
                                           Who can invest with Us?
                                                <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseOne5" class="acod-body collapse in">
                                        <div class="acod-content p-tb15">
                                      Anybody who has attained the legal age of eighteen years old can invest with us at Diamond Hub-Plus.
This category ranges from Chief Executives of Corporations, to Artisans, Traders, Market Women, Large and Small Scale Farmers, Drivers, Factory Workers, Enterprising Youths and Students who have reached the legal age of eighteen (18) years old

                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseTwo5" class="collapsed" data-parent="#accordion5">
                                          What iS the Company's Business? 
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseTwo5" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                            At Diamond Hub-Plus; We invest in the following businesses:
<li>Forex Trading (Manned by professional Forex Traders with wealth of experience, backed with the best and the latest Forex Trading Software and Robots in the world)</li>
<li>Crypto Currency Trading (Manned by well qualified and professional Crypto-Currency Traders) </li>
<li>Transportation (Intercity and Interstate within Nigeria) </li>
<li>Real Estate Development and Management </li>
<li>E-Commerce </li>
<li>Importation /Exportation</li>
<li>Telecommunications </li>
<li>Agriculture</li>
<li> Onli ne marketing </li>
<li>Stock Market (trading of the Penny Stocks and undervalued shares within the Nigerian stock exchange) </li>
<li>Financial services  </li>
<li>Loan Facilities (Yet to take off)</li>
<li>Mining of Precious metals (Still processing, Waiting for government assessment and approval)</li>
<li>Online Money Exchange Platform (Waiting for Government’s approval) </li>

                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel wt-panel">
                                    <div class="acod-head">
                                        <h3 class="acod-title">
                                        <a data-toggle="collapse"  href="#collapseThree5" class="collapsed"  data-parent="#accordion5">
                                      How risky is it to make investments with the company? 
                                        <span class="indicator"><i class="fa fa-plus"></i></span>
                                        </a>
                                     </h3>
                                    </div>
                                    <div id="collapseThree5" class="acod-body collapse">
                                        <div class="acod-content p-tb15">We manage and strategically oversee   traders, real estate, farming investment,  statebrokers and HF-traders who represent us in such trading directions as fiat currencies, cryptocurrencies, fuel, futures, binary options, derivative trade, shares and stock, gold binary options, mining companies stock, startups and energy efficiency developments.</div>
                                    </div>
                                </div>
                                
                                <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseFour5" data-parent="#accordion5" >
                                               How risky is it to make investments with the company? 
                                                <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseFour5" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
<p>There is no business without risk; that is why at Diamond Hub-Plus, we take diversifications as a major priority in maintaining our rich portfolio.</p>
<p>At Diamond Hub-Plus; we pride ourselves not just in different profitable businesses that we maintain, but also in the team of well qualified professionals who manage them.</p>
<p>Whatever it is that happens to/in the economy, from recession to global financial meltdown. Our rich and diversified portfolio will always cushion the effect.
Therefore you are secured.</p>

                                            
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseFive5" class="collapsed" data-parent="#accordion5">
                                            How do you know the most profitable Business Sector? 
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseFive5" class="acod-body collapse">
                                        <div class="acod-content p-tb15">We do not give preference to any particular business pathway among our different businesses. 
Every month our professionals sit down to analyse and monitor our most important strategic spheres of interest for volatility and profit growth, then we make necessary changes to the investment ratio in one or more business sector to maintain our financial stability. We do this so that you (our esteemed investors) will not have to. Just leave the headache to us and go about your wonderful life. 
</div>
                                    </div>
                                </div>
                                
                                
                                
                                 <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseSix6" class="collapsed" data-parent="#accordion5">
What is the Minimum Investment?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseSix6" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                            The Minimum investment is:<br>
                                             NIGERIA = NGN 20,000.<br>
                                             INTERNATIONAL  = $100 <br>

</div>
                                    </div>
                                </div>
                                
                                
                                
                                
                                 <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseEight8" class="collapsed" data-parent="#accordion5">
What is the Maximum Investment?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseEight8" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                           The Maximum investment is:<br>
NIGERIA = NGN 5,000,000.<br>
INTERNATIONAL  = $10,000

</div>
                                    </div>
                                </div>
                                
                                
                                
                                 <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseNine9" class="collapsed" data-parent="#accordion5">
I am intereted,how do I Start; what do I do?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseNine9" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                           Go to our site and register, make deposit online or go to bank to make deposit.




</div>
                                    </div>
                                </div>
                                
                                
                                
                                 <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseTen10" class="collapsed" data-parent="#accordion5">
In what can i make Deposit?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseTen10" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                         <p> You can make your deposit in different ways on our platform.</p>
<strong>Investors from Nigeria:</strong> You can use any of the following means to invest:
<li>	Debit Card Payment On The Site – You can make a deposit on our site using your Bank issued Debit Card. This will give you Automatic approval and your investment start yielding 24hours after that.</li>
<li>	Local Bank Deposit – Copy the bank account details on our site, then go to the branch of the bank around you to make physical deposit, then come back to the site and upload the teller. After you have uploaded the teller, then call the customer care or have a life chat with the Customer Care representative to get approved. Approval will be done after your deposit has been confirmed. The moment you are confirmed; your investment start reading after 24 hours. This approval is done manually to protect and secure ourselves and our clients’ investment against fraud.</li>
<li>	Online Transfer – Same process as above</li>
<li>	Mobile Transfer – Same process as above</li><br>
For Our International Investors: You can use any of the following means to invest:
<li>	Perfect Money – If you make your deposit with Perfect Money, you will receive Automatic approval</li>
<li> Bitcoin – Bitcoin confirmation is done manually to avoid hacking of customers’/clients’ accounts.</li>
<li>	Etherum – Same process as above</li>




</div>
                                    </div>
                                </div>
                                
                                
                                 <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseEleven11" class="collapsed" data-parent="#accordion5">
Once my money matures; How long does it take for Withdrawal?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseEleven11" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                        Make request for withdrawer, and wait for your deposit into your bank account




</div>
                                    </div>
                                </div>
                                
                                
                                   <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseTwelve12" class="collapsed" data-parent="#accordion5">
How do I know when  my Investment is Ripe?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseEleven11" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                       There is an investment countdown timer on our site. The moment your investment deposit is approved; the countdown clock will start automatically. So you can log in daily to watch your investment as it grows.



</div>
                                    </div>
                                </div>
                                
                                
                                   <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseThirteen13" class="collapsed" data-parent="#accordion5">
HOW DO I KNOW WHEN MY INVESTMENT IS RIPE?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseEleven11" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                       There is an investment countdown timer on our site. The moment your investment deposit is approved; the countdown clock will start automatically. So you can log in daily to watch your investment as it grows.



</div>
                                    </div>
                                </div>
                                
                                
                                  <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseThirteen13" class="collapsed" data-parent="#accordion5">
DOES DIAMOND HUB-PLUS HAS A PHYSICAL ADDRESS?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseEleven11" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                     Yes! We have a Physical address at …. In Lagos


</div>
                                    </div>
                                </div>
                                
                                
                                <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseFourteen14" class="collapsed" data-parent="#accordion5">
HOW OLD IS THE COMPANY?
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseFourteen14" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                     We at Diamond Hub-Plus Started operation by October 2017. Even though we have been putting some modalities in place since the beginning of the year.
We started as a Crypto-Currency and Forex Trading Company but later started diversifying.


</div>
                                    </div>
                                </div>
                                
                                
                                 
                                <div class="panel wt-panel">
                                    <div class="acod-head">
                                         <h3 class="acod-title">
                                            <a data-toggle="collapse" href="#collapseFourteen14" class="collapsed" data-parent="#accordion5">
IS THE BUSINESS DULY REGISTERED??
                                            <span class="indicator"><i class="fa fa-plus"></i></span>
                                            </a>
                                         </h3>
                                    </div>
                                    <div id="collapseFourteen14" class="acod-body collapse">
                                        <div class="acod-content p-tb15">
                                    Yes! We are duly registered with the Nigerian Corporate Affairs Commission (CAC), and our certificate of incorporation was issue to us by the CAC in March 2017.

You can’t find what you are looking for… then 



</div>
                                    </div>
                                </div>
                
                
                
                
                
                
                            </div>
                            <!-- ACCORDION END -->  
                        </div>                                      
					<!--	<div class="col-md-3 col-sm-3 p-tb15">
                            
                            
                                                         
                           
                            <div class="widget bg-white  widget_getintuch">
                                <h4 class="widget-title">Contact us</h4>
                                <ul>
                                  <li><i class="fa fa-map-marker"></i><strong>Address</strong> Street No:4 , Robert villsan road  </li>
                                  <li><i class="fa fa-fax"></i><strong>FAX</strong>(082) 634-3456</li>
                                  <li><i class="fa fa-phone"></i><strong>phone</strong>0800-987654 (help 24/7 )</li>
                                  <li><i class="fa fa-envelope"></i><strong>email</strong>thewebmaxmail@gmail.com</li>
                                </ul>
                            </div>
                        
                        </div>  -->
                  </div>
                </div>
            </div>
            <!-- SECTION CONTENT END -->
        
        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
            <!-- FOOTER START -->