  <div class="page-content">
            
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper" style="background-image:url(<%= "assets/invest.jpg"%>)">
                <div class="overlay-main bg-black opacity-07"></div>
               
            </div>
            <!-- INNER PAGE BANNER END --> 
                
            <!-- BREADCRUMB ROW -->                            
            <div class="bg-gray-light p-tb20">
                <div class="container">
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home</a></li>
                        <li>Terms and Condition</li>
                    </ul>
                </div>
            </div>
            <!-- BREADCRUMB  ROW END --> 
            
            <!-- ABOUT COMPANY SECTION START -->
            <div class="section-full p-tb100">
                <div class="container">
                    <div class="row">
                       <div class="col-lg-2 col-sm-2 col-md-2"></div>
            <div class="col-lg-8  col-md-8 col-sm-8">
                
              <div class="panel panel-danger">
                <div class=" panel-heading" style="background-color:#000;">
                    <h3 style="color:#FFF;">Terms and Conditions of Service</h3>
                </div>
                  <div class="panel-body">
                 p> This Terms and Conditions (T&Cs) governs all interaction and cooperation processes between Diamondhub plus, a company registered under the laws and a private individual of any nationality and residency, above 18 years old (the Client), who accepts and agrees to these T&Cs.
Any interaction between the Company and the Client is governed by these T&Cs and shall be viewed as a private contract in the legal context.</p>

<h3>Guarantees and Liability</h3>

<p>The Company guarantees to fulfill all its commitments to the Investor and correct provision of the products and services during the entire period of cooperation between Diamondhub plus and the Investor.

The Company ensures that no risks shall arise regardless of the amount of funds invested by the Client. Diamondhub plus conducts asset management and direct investment only with a full and comprehensive insurance coverage. </p>

Money Back Guarantee

<p>The company provides a Money Back Guarantee (MBG) to its investors. In the event that the company, Diamondhub Plus is not able to generate profits from its businesses, the investor's initial capital is paid in full within 6 months. 

<h3>Discontinuation of an Investment </h3>


<p>In the event that an investor chooses to forfeit his contract with the company by discontinuing his/her investment, Diamondhub Plus will make a refund to the investor. However, 10% would be deducted as cost for the liability caused by an abrupt termination. 

In the event where the said investor has already placed a withdrawal and has been paid before the request of a discontinuation of his/her investment, Diamondhub Plus will subtract this withdrawal from the refund of the capital. 

By this, the investor has no right to a claim of any percentage in profit promised by the company. </p>


<h3>Registration</h3>

<p>The Client voluntarily provides personal information to the extent necessary for correct personal account creation as well as to enable some of amount of this information being used by the Company in the future for improvement of individual and shared interaction processes.

The Client is guaranteed that all provided information will remain secure and confidential for the benefit of cooperation and Privacy Policy purposes.</p>

<p>Under the registration process, the Client must agree to these T&Cs and fully accept them.</p>

The Client has the right to delete their account through submission of a motivated request to the customer support service.

<h3>Investment</h3>

<p>The Investor creates their investments in strict accordance with the Investment section of our website using own preferences.</p>

<p>The Investor has the right to withdraw their profit using a different electronic payment system to the one they used to create their deposit and which is serving as a source of this profit.</p>

The Investor has the right for an indefinite period of cooperation with the Company while observing and agreeing to these T&Cs, other rules already presented and those that might be released in the future under the other sections of the website.

<h3>Funds withdrawal</h3>

The Investor has the right under these T&Cs to withdraw funds. Any profit payout is processed with the maximum expediency, although remaining a subject to a 72-hour security check. Payouts from the PrimaryTrust portfolio to the client's balance are processed within ten calendar days commencing on the day such request is submitted.

The Investor has the right to withdraw their profit using a different electronic payment system to the one they used to create their deposit and which is serving as a source of this profit.

<h3>Partnership</h3>

The Investor has the right to receive a partner reward and new client status as specified by the Partner Programme provided they observe these T&Cs. The Partner Programme can be found under the Partnership section on the company's website.

<h3>Data protection</h3>

The Client accepts that personal data they provide will be kept and processed by the company's staff. The Company Administration makes every reasonable effort to ensure that your information is kept, processed and used securely and in full compliance with the Privacy Policy.

<h3>Privacy Policy</h3>

The company collects some personal data when user registers an account with us as well as when clients, investors or visitors use our website. The personal data may contain personal details, such as full name, address, email, payment details and those indirectly identifying a particular user (OS or browser types, PC ID or IP-address). Under no circumstances the company will release any personal data to a third party notwithstanding their enquiry basis. The Company Administration makes all reasonable efforts to ensure any client data are secure and remain confidential, including investment and transaction history. Under no circumstances, we may disclose particulars of financial transactions. We guarantee full confidentiality not only for the period of our cooperation but also after it has ended. In the latter case, all data provided by the client will be erased after a term of three years. The company undertakes to observe and follow this Privacy Policy without prejudice to the extent and nature of the relationship that has been established with any of our clients. This Privacy Policy is an integral part of any legal forms listed on our official website.

Changes to the content of these Terms and Conditions

The company may modify these T&Cs (some articles or their implied meaning). Changes become effective immediately after their publication.

The Company undertakes to publish all information about any changes on its official website in News.

The Investor must check News themselves on a regular basis to learn about any changes.

By continuing to cooperate with the Company after any changes have been made, the Client confirms his acceptance of all these changes and agrees to them.

<h3>Dispute resolution</h3>

The way of negotiations resolves any disputes arising between the Company and Investor.

Any claim coming from either party may be motivated founded upon these T&Cs only.


                  
                  </div>
             </div>             
            </div>             
                        
                    </div>
                </div>
            </div>   
            <!-- ABOUT COMPANY SECTION END --> 
                 
           
           
            
            <!-- OUR TEAM MEMBER SECTION START -->
         
            <!-- OUR TEAM MEMBER SECTION END -->
                    
        </div>
        <!-- CONTENT END -->
        